<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>五邑大学博客网主页</title>
    <link rel="stylesheet" href="../static/bs/css/bootstrap.css">
    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/bs/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title" href="/index/">五邑大学博客园</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/blog/{{ request.user.username }}/">园子 <span class="sr-only">(current)</span></a></li>
                <li><a href="/blog/{{ request.user.username}}/tag/">随笔</a></li>
                <li><a href="#">新闻</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li><a href="/logout/">注销</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/update_pwd/">修改密码</a></li>
                            <li><a href="/blog/{{ request.user.username }}/">个人主页</a></li>
                             <li><a href="/blog/backend/add_article/">写博客</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel panel-info">
            </div>
        </div>
        <div class="col-md-6">

            <div class="article_list">

                {% for article in article_list %}
                    <div class="article_item">
                        <div class="row"><h5><a href="/blog/{{ article.user.username }}/articles/{{ article.pk }}">{{ article.title }}</a></h5></div>
                        <div class="row">
                            <img class="col-md-2" width="60" height="60" src="{{ article.user.avatar.url }}" alt="">
                            <p class="col-md-10 desc">{{ article.desc }}</p>
                        </div>
                        <div class="row small">
                            <span><a href="/blog/{{ article.user.username }}/">{{ article.user.username }}</a></span>&nbsp;&nbsp;
                            <span>发布于&nbsp;{{ article.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment">评论{{ article.comment_count }})</span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.up_count }})</span>&nbsp;&nbsp;
                        </div>
                        <hr>
                    </div>
                {% endfor %}

            </div>
            <nav class="pull-right" aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        <div class="col-md-3">
            {% include 'include_demo.html' %}
            </div>
        </div>
    </div>

</div>

</body>
</html>