<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../static/bs/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery-3.1.1.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title" href="/index/">五邑大学博客园</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/blog/{{ request.user.username }}/">园子 <span class="sr-only">(current)</span></a></li>
                <li><a href="/blog/{{ request.user.username}}/tag/">随笔</a></li>
                <li><a href="#">新闻</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li><a href="/logout/">注销</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/update_pwd/">修改密码</a></li>
                            <li><a href="/blog/{{ request.user.username }}/">个人主页</a></li>
                             <li><a href="/blog/backend/add_article/">写博客</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                 <div class="form-group">
                    <label for="user">用户名</label>
                    <input type="text" class="form-control" id="user" placeholder="Username">
                  </div>
                <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>
                 <div class="form-group">
                    <label for="valid"> 验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                           <input type="text" class="form-control" id="valid" placeholder="valid">
                        </div>
                        <div class="col-md-6">
                            <img id="valid_img" width="220" height="40" src="/get_valid_img/" alt="">
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <input type="button" class="btn btn-primary" value="submit" id="login_btn"><span class="error"></span>
            </form>
        </div>
    </div>
</div>

<script>
    // 验证码刷新
    $("#valid_img").click(function () {
        $(this)[0].src+="?"
    });

    // ajax请求验证

    $("#login_btn").click(function () {

        $.ajax({
            url:"/login/",
            type:"post",
            data:{
                "user":$("#user").val(),
                "pwd":$("#pwd").val(),
                "valid_code":$("#valid").val(),
                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()
            },
            success:function (data) {   // {"user":"","error_meg":""}
                console.log(data);
                var data=JSON.parse(data);
                if(data.user){
                    // 登录成功
                    location.href="/index/"

                }
                else {
                    $(".error").html(data.error_msg).css('color',"red")

                    setTimeout(function () {
                        $(".error").html("")
                    },1000)
                }
            }
        })

    })
</script>

</body>
</html>